@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
	font-family: 'EB Garamond', Helvetica;
	font-size: 18px;
}

body {
	margin: 0;
	background-color: #caf0f8;

}

h2 {
	padding-top: 3em;
	font-style: bold;
	font-family: 'EB Garamond', serif;
	font-size: 2em;
	text-transform: uppercase;
}

footer {
	background-color: #023e8a;
	width: 100%;
	height: 200px;
	margin: 0;
	
}

.num {
	text-decoration: none;
	color: white;
	text-transform: bold;
}

#barra {
	font-family: 'EB Garamond', serif;
	background-color: white;
	padding: 2px;
	align-content: left;
}

#banner {
	background-image: url("banner2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%
    height: 100vh;
    padding: 150px;
    text-align: center;
}

#tarjetas {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 6em 0em;
}

.subt {
	font-family: serif;
	font-size: 1em;
	text-align-last: justify;
	align-content: center;
}

.pie {
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#title1 {
	font-size: 1em;
}
/*
#reg {
	position: absolute;
	bottom: 10px;
	font-family: Arial;
	font-size: 0.5em;
	color: grey;
}
*/
@media all and (max-width: 640px){
	#tarjetas {
		width: 100%;
		height: 1050px;
		padding: 3em;
		margin: 0;
		flex-direction: column;
		justify-content: flex-start;
	}

	.card {
		width: 620px;
	}
}
