@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
	font-family: 'EB Garamond', Helvetica;
	font-size: 18px;
}

body {
	margin: 0;
	background-color: #caf0f8;

}

h2 {
	padding-top: 3em;
	font-style: bold;
	font-family: 'EB Garamond', serif;
	font-size: 2em;
	text-transform: uppercase;
}

footer {
	background-color: #023e8a;
	width: 100%;
	height: 200px;
	/*grid-area: f;*/
}

#barra {
	font-family: 'EB Garamond', serif;
	background-color: white;
	padding: 2px;
	align-content: left;
}
/*
#cuerpo {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 700px 500px 300px;
	grid-template-areas: 

	"h h h h"
	"t t t t"
	"f f f f"
}
*/
#banner {
	background-image: url("../image/banner2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%
    height: 100%;
    padding: 150px 0;
    text-align: center;
    /*grid-area: h;
	text-align: center;
	padding-top: 3em;
	background-size: cover;
	background-image: url("banner2.jpg");
	background-position: center;
	*/
}


.card {
	width: 200px;
	height: 150px;
	border-radius: 10px;
}

#tarjetas {
	padding-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 50px;
	height: 10em;
	/*grid-area: t;*/
}

#title1 {
	font-size: 1em;
}